*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

.container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  padding: 30px 0;
}

.logo-part {
  font-style: italic;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  padding: 30px 0;
}

.header-link:hover {
  color: #fd9222;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}

.hero {
  background-color: #1e1823;
  ;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-link-made {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-link-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.features {
  background-color: #1e1823;
}

.features-title {
  display: none;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.taste-part {
  color: #fd9222;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.taste-desc {
  color: #fff;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.made-part {
  color: #fd9222;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
}

.chocolate-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.chocolate-part {
  color: #fd9222;
}

.chocolate-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}

.chocolate-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.chocolate-link {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.delicious {
  background-color: #1e1823;
}

.delicious-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
}

.delicious-part {
  color: #fd9222;
}

.delicious-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
}

.delicious-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.delicious-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}